<div class="mx-20 w-full text-white">
  <h1 class="font-bold text-4xl text-left">Профиль</h1>

  <div class="mt-12 px-6">
    <div class="flex items-start space-x-40">
      <div class="flex-shrink-0">
        <h3 class="text-3xl font-semibold mb-4">Фото профиля</h3>
          <div class="bg-gray-800 p-4 rounded-xl">
            <% if @profile.avatar.present? %>
              <%= image_tag @profile.avatar.url, alt: 'Avatar', class: "rounded-xl w-72 h-80" %>
            <% else %>
              <p class="text-lg">Аватар не установлен</p>
            <% end %>
            <div class="flex justify-center my-4 gap-2">
            <div>
              <%= link_to 'Редактировать профиль', edit_user_profile_path(@profile),
                class: "rounded-lg py-3 px-5 bg-gray-700 text-white font-medium hover:bg-gray-600" %>
            </div>
            <a href="<%= @telegram_link %>" target="_blank" class="btn btn-primary">
              <%= image_tag 'icons/telegram.svg', class: "w-6 h-6" %>
            </a>
        </div>

        </div>
      </div>

      <div>
      <h2 class="text-3xl font-semibold text-center mb-6">Информация о пользователе</h2>
      <div class="mb-4">
      <p class="text-2xl">Имя пользователя</p>
        <div class="flex items-center bg-gray-800 rounded-lg p-4 mt-2 mb-8">
          <div class="ml-4 text-2xl">
            <%= @profile.username %>
          </div>
        </div>
        <p class="text-2xl">Дата рождения</p>
        <div class="flex items-center bg-gray-800 rounded-lg p-4 mt-2 mb-8">
          <div class="ml-4 text-2xl">
            <%= @profile.birthday_date %>
          </div>
        </div>
        <p class="text-2xl">О себе</p>
        <div class="flex items-center bg-gray-800 rounded-lg p-4 mt-2 mb-8">
          <div class="ml-4 text-2xl">
            <%= @profile.options %>
          </div>
        </div>
      </div>
    </div>

      <div class="w-1/4">
      <h3 class="text-3xl font-semibold">Достижения</h3>

      <div class="flex items-center bg-gray-800 rounded-lg p-4 mt-8">
        <div class="flex items-center justify-center w-10 h-10 bg-pink-100 rounded-full">
          <span class="text-pink-500 text-lg font-bold">❤</span>
        </div>
        <div class="ml-4">
          <p class="text-xl font-bold">1</p>
          <p class="text-sm text-gray-400">Столько привычек достигнуто</p>
        </div>
      </div>

      <div class="flex items-center bg-gray-800 rounded-lg p-4 mt-8">
        <div class="flex items-center justify-center w-10 h-10 bg-pink-100 rounded-full">
          <span class="text-pink-500 text-lg font-bold">~</span>
        </div>
        <div class="ml-4">
          <p class="text-xl font-bold"><%= @days_registered %></p>
          <p class="text-sm text-gray-400">Столько дней вы с нами</p>
        </div>
      </div>

      <div class="flex items-center bg-gray-800 rounded-lg p-4 mt-8 ">
        <div class="flex items-center justify-center w-10 h-10 bg-pink-100 rounded-full">
          <span class="text-pink-500 text-lg font-bold">Z</span>
        </div>
        <div class="ml-4">
          <p class="text-xl font-bold"><%= @habits_count %></p>
          <p class="text-sm text-gray-400">Количество привычек</p>
        </div>
      </div>
    </div>
    </div>

    <div class="fixed top-24 right-0 flex items-center space-x-2 mt-3">
      <% if current_user.chat_id.present? %>
        <p>Ваш Telegram аккаунт привязан.</p>
      <% end %>
    </div>
  </div>
</div>
