<div id="<%= dom_id habit %>">

  <div class="max-w-4xl mx-auto bg-gray-800 text-white p-6 m-5 rounded-3xl shadow-lg">

    <div class="flex flex-col space-y-4">

      <div class="flex items-center justify-between inline-block"> <!-- Title on the left, tag and status on the right -->
        <h3 class="flex justify-center ml-2 text-3xl font-semibold"><%= habit.title %></h3>
        <div>

          <%if habit.tags.present?%>
            <span class="inline-block py-1 px-3 rounded-lg bg-blue-500 text-white">
              <%= habit.tags %>
            </span>
          <% end %>

          <span class="inline-block  px-3 rounded-lg">
            <p><%= tag_status(habit.status) %></p>
          </span>
          
        </div>
      </div>

      <div class="flex items-start space-x-6"> <!-- Flex for image and description side by side -->
        <div class="flex-shrink-0"> <!-- Image on the left -->
          <% if habit.image.present? %>
            <%= image_tag habit.image, class: "w-96 h-80 object-cover rounded-3xl", alt: habit.title %>
          <% else %>
            <%= image_tag 'habit_images/abstr.png', class: 'w-96 h-80 object-cover rounded-3xl' %>
          <% end %>

        </div>

        <div class="flex-grow">
          <p class="text-gray-400 mb-4 max-w-xs break-words"><%= habit.description %></p>
        </div>

      </div>
    </div>
<%= form_with(model: @habit, local: true) do |form| %>
    <%= form.label :send_at, "Установите время уведомления", class: "block text-lg font-semibold text-white-700" %>
  <div class="orm-group flex items-center space-x-4">
    <%= form.time_select :send_at, { include_blank: true }, class: "form-control text-black border border-gray-300 rounded-md p-2 mt-2 w-1/4" %>
    <%= form.submit "Сохранить время", class: "border border-blue-500 bg-gray-800 text-white-500 rounded-lg py-2 px-4 hover:text-white hover:bg-blue-500 transition duration-200" %>
  </div>
<% end %>


  </div>

</div>
