<h2 class="text-center text-4xl font-bold mb-4 text-gray-200">Вход</h2>

<div class="max-w-lg mx-auto p-8 rounded-xl shadow-lg text-white opacity-0 animate-fade-in" style="animation-delay: 0.15s;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label "Почта", class: "block text-lg font-semibold text-gray-300 mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "mt-1 block w-full text-lg rounded-lg border-gray-700 bg-gray-900 text-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 #{'border-red-500' if f.object.errors[:email].any?}",
          style: "background-color: #2D2D3A; color: white;" %>
      <% if f.object.errors[:email].any? %>
        <div class="text-red-500 text-sm mt-2">
          <%= f.object.errors[:email].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label "Пароль", class: "block text-lg font-semibold text-gray-300 mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password",
          class: "mt-1 block w-full text-lg rounded-lg border-gray-700 bg-gray-900 text-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 #{'border-red-500' if f.object.errors[:password].any?}",
          style: "background-color: #2D2D3A; color: white;" %>
      <% if f.object.errors[:password].any? %>
        <div class="text-red-500 text-sm mt-2">
          <%= f.object.errors[:password].join(', ') %>
        </div>
      <% end %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-6 flex items-center">
        <%= f.check_box :remember_me, class: "h-4 w-4 text-blue-500 border-gray-600 rounded focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
        <%= f.label "Запомнить меня", class: "ml-2 text-gray-300 text-sm" %>
      </div>
    <% end %>

    <div class="mt-8">
      <%= f.submit "Вход",
          class: "w-full bg-gray-600 hover:bg-gray-700 text-white text-lg font-semibold py-3 px-5 rounded-lg shadow-lg transition duration-300" %>
    </div>
  <% end %>

  <div class="mt-8 text-center text-white">
    <%= render "devise/shared/links" %>
  </div>
</div>
