<%= form_with(model: habit, class: "contents") do |form| %>

  <% if habit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>
      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, "Заголовок привычки" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-2/3", style: "background-color: #2D2D3A; color: white;" %>
  </div>

  <div class="my-5">
    <%= form.label :description, "Описание" %>
    <%= form.text_area :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-2/3", style: "background-color: #2D2D3A; color: white;" %>
  </div>

  <div class="my-5">
    <%= form.label :tags, "Теги", class: "block mb-2" %>

    <div class="relative">
      <%= form.select :tags, Habit::TAGS, {},
            { class: "w-[210px] appearance-none bg-gray-800 border border-gray-600 rounded-lg px-4 py-2" } %>
    </div>

  </div>

  <div class="my-5">
    <%= form.label :status,"Статус привычки", class: "block mb-2" %>
    <div class="relative">
      <%= form.select :status, Habit::STATUS, {},
            { class: "w-[210px] appearance-none bg-gray-800 border border-gray-600 rounded-lg px-4 py-2" } %>
    </div>
  </div>

    <div class="overflow-x-auto" >
      <% Habit.habit_images.each do |image_path| %>
        <label class="snap-center inline-block text-center">
          <%= form.radio_button :image, image_path, class: "hidden peer" %>
          <%= image_tag image_path, class: "w-32 h-32 object-cover border-2 border-gray-400 peer-checked:border-green-500 peer-checked:shadow-lg cursor-pointer rounded-md" %>
        </label>
      <% end %>
    </div>



<div id="gallery" class="relative w-full" data-carousel="slide">
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <%= image_tag "habit_images/beautiful.png", class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>

        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <%= image_tag "habit_images/eat.png", class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
        </div>
        
    </div>

    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

  <div class="inline">
    <%= form.submit habit.new_record? ? "Создать привычку" : "Обновить привычку", class: "rounded-lg py-3 px-5 bg-gray-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
