<%= form_with(model: habit, class: "contents") do |form| %>
  <% if habit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-2/3", style: "background-color: #2D2D3A; color: white;" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-2/3", style: "background-color: #2D2D3A; color: white;" %>
  </div>

  <div class="my-5">
    <%= form.label :tags, class: "block  mb-2" %>
    <div class="relative">
      <%= form.select :tags, Habit::TAGS, {},
            { class: "w-[210px] appearance-none bg-gray-800 border border-gray-600 rounded-lg px-4 py-2" } %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :status, class: "block  mb-2" %>
    <div class="relative">
      <%= form.select :status, Habit::STATUS, {},
            { class: "w-[210px] appearance-none bg-gray-800 border border-gray-600 rounded-lg px-4 py-2" } %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <%= form.file_field :image, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 " %>
  </div>


<div class="my-5">
  <%= form.label :image, "Выберите изображение для привычки" %>
  <div class="slider-wrapper relative">
    <button type="button" class="slider-button left-0">←</button>
    <div class="slider-container flex overflow-x-auto snap-x space-x-4 py-3">
      <% Habit.habit_images.each do |image_path| %>
        <label class="snap-center inline-block text-center">
          <%= form.radio_button :image, image_path, class: "hidden peer" %>
          <%= image_tag image_path, class: "w-32 h-32 object-cover border-2 border-gray-400 peer-checked:border-green-500 peer-checked:shadow-lg cursor-pointer rounded-md" %>
        </label>
      <% end %>
    </div>
    <button type="button" class="slider-button right-0">→</button>
  </div>
</div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-gray-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
