<div id="<%= dom_id habit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= habit.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= habit.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= habit.tags %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= habit.image %>
  </p>

</div>
