<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'habits/show/show_habit', habit: @habit %>

    <div class="flex justify-center gap-4 mt-2">
      <%= link_to "Редактировать привычку", edit_habit_path(@habit), class: "border border-blue-500 bg-gray-800 text-white-500 rounded-lg py-2 px-4 hover:text-white hover:bg-blue-500 transition duration-200" %>
      <%= link_to "Вернуться к списку привычек", habits_path, class: "border border-blue-500 bg-gray-800 text-white-500 rounded-lg py-2 px-4 hover:text-white hover:bg-blue-500 transition duration-200" %>
      <%= button_to "Удалить привычку", @habit, method: :delete, class: "border border-blue-500 bg-gray-800 text-white-500 rounded-lg py-2 px-4 hover:text-white hover:bg-blue-500 transition duration-200" %>
    </div>

  </div>
</div>
