<header class="bg-headerColor p-5 rounded flex justify-between items-center text-lg">

    <div>
    <h1 class="text-4xl font-bold text-center text-white">Habits Tracker</h1>
    </div>

  <nav class="flex space-x-4">
    <%= nav_link_to "Статистика", root_path %>
    <%= nav_link_to "Список привычек", habits_path %>

    <% if current_user %>
    <% if current_user.profile.present? %>
      <%= nav_link_to "Профиль", user_profile_path(current_user) %>
    <% else %>
      <%= nav_link_to "Профиль", new_user_profile_path(current_user) %>
    <% end %>

    <%= button_to "Выйти", destroy_user_session_path, method: :delete, class: "text-white py-3" %>
  <% end %>

  </nav>
</header>
